/* 通用样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.half-width {
    width: 50%;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 200px;
}

/* 设置参数样式 */
.settings {
    padding: 20px;
    max-width: 33%; /* 最大宽度不超过页面的1/3 */
}

/* 底部样式 */
footer {
    text-align: center;
    padding: 20px;
}

.centered-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px; /* 调整按钮的内边距以放大按钮 */
    font-size: 16px; /* 调整按钮的字体大小 */
}

h1 {
    text-align: center;
}

#performButton {
    margin-top: 10px; /* 添加顶部边距，以增加按钮和上方内容之间的间距 */
}