/* 白天模式样式 */
:root {
  --background-color: #fcfcfc;
  --text-color: black;
}

/* 夜间模式样式 */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #282a36;
    --text-color: white;
    --footer-text-color: #000000; /* 自定义页脚文本颜色 */
    --footer-background: #282a36; /* 自定义页脚背景颜色 */
    --footer-text-color: white; /* 设置页脚文本颜色为白色 */
    --link-color: #0077cc; /* 设置链接颜色为明亮蓝色 */
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

footer {
  background-color: var(--footer-background); /* 设置页脚背景颜色 */
  color: var(--footer-text-color); /* 底部文本颜色 */
}

footer a {
  color: var(--link-color); /* 设置链接颜色 */
}

textarea, input {
  background-color: var(--input-background); /* 设置文本框背景色 */
  color: var(--text-color); /* 设置文本框文本颜色 */
}